input[type="file"] {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
}

.file-upload {
    margin-bottom: 20px;
    text-align: center;
    }

leya-print-whitepaper {
    width: inherit;
    height: inherit; 
}