@import 'template-demo.global';
@import 'variables';
tpl-template-demo-header {
    display: block;
    min-height: 3cm;
    box-sizing: border-box;
    border: 1mm solid purple;
    padding: $var__page__margin;
}