:host {
    border: 1px solid black;
    position: fixed;
    box-sizing: content-box;
    overflow-y: scroll;
    overflow-x: visible;
    .designer-stage {
        &__header {
            position: fixed;
            border: 1px solid blue;
            background: white;
        }
        &__footer {
            position: fixed;
            border: 1px solid red;
            background: white;
        }
    }
}