@import 'work-report.global';
@import 'variables';
tpl-work-report-content {
    display: block;
    box-sizing: border-box;
    border: 1mm solid red;
    padding: 0 $var__page__margin;
}

.work-report__content-end {
    background: red;
    color: white;
    text-align: center;
    border: 1px solid white;
}

.work-report__content__spacer {
    margin: $var__innerPadding 0;
    padding: $var__innerPadding;
    border: 1px solid green;
}