@import 'variables';

.app-root__header {
    background: #5851ff;
    color: white;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $var__boxShadow;
    padding: 0 12px;
    
    >h1 {
        font-size: 1.4rem;
        font-weight: 500;
        >span {
            margin-left: .5em
        }
    }
    a {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
}

.app-root__main {
    padding: $var__outerMargin;
}
