@import 'white-paper.global';
@import 'white-paper.variables';

tpl-white-paper-header {
  display: block;
  min-height: 3cm;
  padding: $var__page__margin;

  .invoice-header__img {
    display: flex;
    justify-content: center;
  }

  .invoice-header__img-size {
    width: 110px;
    height: 80px;
  }
}