<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Lit-Templates View</title>
    <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="../node_modules/lit/polyfill-support.js"></script>
    <script type="module" src="../dist/my-element-index.js"></script>
    <script type="module" src="../dist/lit-templates.js"></script>
    <style>
      p {
        border: solid 1px blue;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <my-element-index></my-element-index>
    <lit-templates></lit-templates>
  </body>
</html>
