@import 'invoice.global';
@import 'invoice.variables';

// mesurements references DIN 5008 Form A
// https://upload.wikimedia.org/wikipedia/commons/6/64/DIN_5008%2C_Form_A.svg

tpl-invoice-header {
  display: block;
  padding: $var__page__margin;
  padding-bottom: 0;
  font-size: 12pt;
  min-height: 88mm;
  $ensure-sender-is-readable: 3mm; // print + test shows the norm doesn't fit in most envelops

  .invoice-header__address-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 27mm + $ensure-sender-is-readable;
    left: 20mm;
    width: 85mm;
    height: 45mm - $ensure-sender-is-readable;
    box-sizing: border-box;
    padding-left: 5mm;
    border: 1px solid darkgray;
    border-style: dotted;
    border-radius: 5px;

    .invoice-header__sender {
      display: flex;
      height: 5mm;
      width: 80mm;

      tplb-address-line {
        flex-shrink: 1;
        font-size: 7pt;
      }
    }
    .invoice-header__additions {
      height: 12.7mm - $ensure-sender-is-readable;
    }
    .invoice-header__sendTo {
      height: 27.3mm;
    }
  }


  .invoice-header__header-data {
    min-height: 40mm + 32mm - 10mm;
    margin-left: 115mm;
    margin-bottom: 8.46mm;
    margin-right: -10mm;
    max-width: 75mm;

    .invoice-header__company {
      tplb-address {
        display: block;
        margin-bottom: 1em;

        .tplb-address-company {
          font-weight: bold;
        }
      }
    }

    .invoice-header__customer-reference {
      display: inline-block;
      $customer-referance-padding: .3em;
      margin-top: 2em;
      border: 1px solid red;
      border-top-width: calc(1px + 1em + 2 * $customer-referance-padding);
      padding: $customer-referance-padding;

      h3 {
        color: white;
        padding: 0 $customer-referance-padding calc($customer-referance-padding / 2) $customer-referance-padding;
        margin: -$customer-referance-padding;
        margin-top: calc(-1 * calc(1px + 1em + 2 * $customer-referance-padding));
        margin-bottom: calc($customer-referance-padding / 2);
      }
    }
  }

  .invoice-header__headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h2 {
      margin-bottom: 0;
    }
  }

  .invoice-header__foldmark-1 {
    position: absolute;
    left: 0mm;
    top: 87mm - .1mm;
    width: 5mm;
    height: 0;
    overflow: hidden;
    border-bottom: .2mm solid black;
  }

  .invoice-header__centermark {
    position: absolute;
    left: 0mm;
    top: 148.5mm - .2mm;
    width: 10mm;
    height: 0;
    overflow: hidden;
    border-bottom: .4mm solid black;
  }

  .invoice-header__foldmark-2 {
    position: absolute;
    left: 0mm;
    top: 87mm + 105mm - .1mm;
    width: 5mm;
    height: 0;
    overflow: hidden;
    border-bottom: .2mm solid black;
  }
}
