@import 'invoice.global';
@import 'variables';
tpl-invoice-content {
    display: block;
    box-sizing: border-box;
    border: 1mm solid red;
    padding: 0 $var__page__margin;
}

.invoice__content-end {
    background: red;
    color: white;
    text-align: center;
    border: 1px solid white;
}

.invoice__content__spacer {
    margin: $var__innerPadding 0;
    padding: $var__innerPadding;
    border: 1px solid green;
}