@mixin invoiceTheme {
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
//    font-family: 'Segoe UI';
}

body {
    @include invoiceTheme;
}

@media print {
  @page {
    margin-left: 25mm;
  }
}
