$pageScaleFix__factor: calc(15.737 / 21) !default;

print-footer-page {
  display: block;
  box-sizing: border-box;
  width: 21cm;
  transform-origin: top left;
  transform: scale($pageScaleFix__factor);
}

#footer {
  padding-bottom: 0;
  padding-top: 0;
  display: block;
}
